@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.container{
    max-width: 1204px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;     
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* src/index.css yoki src/global.css */
.dark .ant-dropdown-menu-item-selected {
  background-color: #1f2937 !important; /* bg-gray-800 */
  color: #f87171 !important;           /* text-red-400 */
}

.dark .ant-dropdown-menu-item-selected .ant-dropdown-menu-item-icon {
  color: #f87171 !important;           /* belgi rangi */
}

